<div class="card shadow mb-4">
    <div class="card-header py-3">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>No. </th>
              <th>Image</th>
              <th>Bank Name</th>
              <th>Rekening Number</th>
              <th>Rekening Name</th>
              <th>Action</th>
            </tr>
            <tbody>
              <% for(let i = 0; i < bank.length; i++) { %>
                <tr>
                  <td><%= i + 1 %></td>
                  <td><img src="https://adm-staycation.herokuapp.com/<%= bank[i].imageUrl %>" alt="bank image" height="32px"> </td>
                  <td><%= bank[i].bankName %></td>
                  <td><%= bank[i].rekeningNumber %></td>
                  <td><%= bank[i].name %></td>
                  <td>
                    <a 
                      href="javascript:void()" 
                      type="button" 
                      class="btn btn-warning btn-circle btn-sm button-update" 
                      data-id="<%= bank[i].id %>" 
                      data-bankname="<%= bank[i].bankName %>"
                      data-rekeningnumber="<%= bank[i].rekeningNumber %>"
                      data-name="<%= bank[i].name %>"
                    >
                        <i class="fas fa-edit"></i>
                    </a>
                    <a 
                      href="javascript:void()"
                      type="button" 
                      class="btn btn-danger btn-circle btn-sm button-delete"
                      data-id="<%= bank[i].id %>" 
                      data-bankname="<%= bank[i].bankName %>"
                      data-rekeningnumber="<%= bank[i].rekeningNumber %>"
                      data-name="<%= bank[i].name %>"
                    >
                        <i class="fas fa-trash"></i>
                    </a>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </thead>
        </table>
      </div>
    </div>
</div>

<%- include('add_modal.ejs') %>
<%- include('../../partials/javascript.ejs') %>